/* complete body */
html, body {
  font-family: Arial, Helvetica, sans-serif; /* Set default font */
  margin: 0; /* Remove default margin */
  padding: 0;  /* remove default padding */
  text-align: center; /* Center text */
  overflow: hidden; /* Prevents scrolling */
}

/* navigation bar(all) */
.container-navBar {
  padding: 10px; /* padding on all sides of the navBar */
  background-image: linear-gradient(to right, #FEBE10, #c8a800); /* Set background color that changes color from left to right */
  color: rgb(255, 255, 255); /* Set text color */
}

/* Add background image to the login page */
.main-content::before {
  content: '';  /* Create an empty pseudo element */
  position: fixed; /* image position is fixed */
  top: 0; /* Position from the top */
  left: 0;  /* Position from the left */
  width: 100%; /* Set width to 100% */
  height: 100%; /* Set height to 100% */
  background-image: url('../Images/loginImage.jpg'); /*Add background image to the website*/
  background-size: cover; /* Cover the entire background */ 
  background-position: center; /*Align the image to the center of the page */
  background-repeat: no-repeat; /*The image will not repeat itself */
  filter: blur(8px); /* Apply blur effect */
  z-index: -1; /* Ensure the image stays behind content */
}

/* Provide properties to the entire navBar that ensures it stays in the centre with all buttons in it's repective places of homepage at the left, rest of the menu items in the right*/
.nav-wrapper {
  display: flex; /* Display flexbox to arrange items*/
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Home icon is fixed on the left and rest of the menu buttons are fixed on the right */
  margin: 0 auto; /* navBar will be centered horizontally */ 
  padding: 0 20px; /* horizontal padding added of 20px */
}

/* The search icon is now absolutely positioned relative to .container-navBar */
.home-link a {
  font-size: 16px;  /* Reduced from 18px to 16px */
  text-decoration: none;  /* underline from the links removed */
  color: white; /* Text color is set to white */
  font-weight: bold; /* Set font weight */
  display: flex; /* flexbox alignment used to align icon and text */
  align-items: center;  /* Aligns text and image */
  gap: 5px;  /* Adds space between icon and text */
}

/* Navigation */
.navBar a {
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Set font size */
  color: white; /* Set text color */
  margin: 0 10px; /* Add margin */
}

/*Moblie view of the navBar which will reveal when the hamburger icon is clicked*/
.overlay {
  height: 100%; /* Height set to cover full viewport */
  width: 0; /* Initially set the width to cover full viewport */
  position: fixed; /* overlay fixed in place relative to the viewport */
  z-index: 1; /* this ensures overlay appears above other content */
  top: 0; /* position overlay at the top */
  left: 0; /* position overlay at the left */
  background-color: rgba(0,0,0, 0.9); /* Black background with opcaity 0.9 */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /*add transitions to the overlay opening and closing in the mobile view */
}

/*Styling for all the buttons in the overlay which comes in the mobile view*/
.overlay-content {
  position: relative; /* Position the content */
  top: 25%; /* position content 25% from the top */
  width: 100%; /* container takes full width */
  text-align: center; /* align text in the center */
  margin-top: 30px; /* margin of 30px at the top */
}

/*Styling for all overlay buttons respectively*/
.overlay a {
  padding: 8px; /* padding set around the links ensures simplicity */
  text-decoration: none; /* underline of links removed */
  font-size: 36px; /* Size of the font set */
  color: #818181; /* This sets the text color */
  display: block; /* Links are displayed as block elements */
  transition: 0.3s; /* Add transition to the buttons movement in mobile view */
}

/*Styling for when the pverlay butttons are hovered over by the cursor*/
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; /* Change text color on hover */
}

/*Styling for the close button in the overlay*/
.overlay .closebtn {
  position: absolute; /* Position the close button */
  top: 20px; /* close button positioned 20px from the top */
  right: 45px; /* close button positioned 45px from the right */
  font-size: 60px; /* This sets the font size */
}

/* this is a wrapper class functionalty which wraps all the forgotpassword funtionality in one place and displays in a flexbox pattern */
.content-wrapper{
  justify-content: center; /* Align items horizontally */
  width: 100%; /* Set width to 100% */
  display: flex; /* Flexbox display used to align items */
  align-content: center; /* Align items vertically */
  flex-wrap: wrap; /* Wrap items */
  height: 100vh; /* Set height to 100% of the viewport */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align items horizontally */
  overflow: hidden; /* Prevents scrolling */
}

/* Styling for all the buttons and fields of the forgotPassword functionality */
.forgotPassword{
  width: 400px; /* Set width to 400px */
  display: flex; /* Flexbox dislay used to align items */
  flex-direction: column; /* Stack items vertically */
  background: white; /* Set background color to white */
  padding: 20px; /* Add padding around the container */
  border-radius: 40px; /* Add border radius to smoothen out the curve */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect for depth effect */
  text-align: center; /* Align text in the center */
  flex-wrap: nowrap; /* Items will not be wrapped */
  align-content: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  align-items: center; /* Align items horizontally */
  max-height: 80vh; /* Ensures it fits within the viewport */
  overflow: auto; /* Allows scrolling within the container if needed */
    
  /* Takes a 10px padding from it's parent forgotPassword */
  h1{
    color: #4161c0; /* Set text color */
    padding: 10px; /* Add padding */
  }

  /* padding for the text field counted from parent class of forgotPassword */
  p{
    padding: 10px; /* Add padding */
  }
  
  /* An email field which takes in user's email for password reset */
  input{
    width: 100%; /* Set width to 100% */
    padding: 10px; /* Add padding */
  }

  /* Styles the backtologin button  */
  .backToLogin a {
    background-color: #4161c0; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    padding: 10px; /* Add padding */
    border-radius: 10px; /* Add border radius */
    font-size: 18px; /* Set font size */
    border-radius: 20px; /* Add border radius to smoothen out the curves */
    margin: 5px; /* Add margin */
  }
  
  /* gives tles to the backToLogin button and the resetButton on hover */
  .backToLogin a:hover, .resetButton:hover {
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Add shadow effect on hover */
  }
  
}

/* The backtologin section styles are defined here which will give spacing between the buttons and take 100% of the width of the parent */
.backToLogin {
  display: flex; /* Flexbox layout used to arrange items */
  flex-direction: row; /* Stack items horizontally */
  align-items: center; /* Center align items */
  width: 100%; /* Set width to 100% */
  justify-content: space-between; /* Aligns buttons side by side */
  padding: 20px; /* Padding for all the sides of the elements added */
}

/*The submit button's styling is defined here.*/
button[type="submit"] {
  background-color: #4161c0; /* Set background color */
  color: white; /* Set text color */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer */
  padding: 10px; /* Add padding */
  font-size: 18px; /* Set font size */
  border-radius: 20px; /* Add border radius to smoothen out the curves */
  margin: 5px; /* Add margin */
}

/*The email placeholder styling is defined here*/
#email::placeholder{
  color: rgba(0, 0, 0, 0.5); /* Semi-transparent black placeholder that holds the name of the field giving it a sleek design*/
}

/*This is a custome media query for devices with maximum height of 450px*/
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px} /* Set font size to 20px */
  .overlay .closebtn {
  font-size: 40px; /* Set font size to 40px */
  top: 15px; /* Position from the top */
  right: 35px; /* Position from the right */
  }
}